/* 主题色 */
$primary-color: #00afb4;
$secondary-color: #ffd634;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$white-color: #fff;
$black-color: #000;
$red-color: #e21e1e;
$grey-color: #414141;

/* 主要功能色 */
$border-color-primary: #c8c8c8;
$text-color-primary: $black-color;
$bg-color-primary: $white-color;

/* 次要功能色 */
$border-color-secondary: #b9b9b9;
$text-color-secondary: $white-color;
$bg-color-secondary: #f5f5f5;
